@import "carryovers";

// Blog Page (not front page)

.bp-content {
	max-width:1600px;
	margin:0 25px;
}

.bp-content article {
	width:100%;
	float:left;
	background:none;
	margin-bottom:4%;
}

.bp-content a.post-link {
	width:50%;
}

.bp-content .photo-highlighted {
	float:left;
	width:50%;
	opacity:1.0;
}

.type-post:hover .photo-highlighted {
  opacity:.4;
  transition:opacity .6s;
}

.bp-content .type-post:hover .photo-highlighted {
	opacity:1.0;
}

.bp-content .bp-thumbnail-header {
	width:43%;
	float:left;
	margin:0 3%;
	display:flex;
  justify-content:center;
  flex-direction:column;
  height:100%;
}

.bp-thumbnail-header h2.entry-title a {
	color:#505050;
	font-size:40px;
	line-height:1.1;
}

.bp-thumbnail-header .meta-data, .bp-thumbnail-header span.entry-date p {
	color:#505050;
}

.bp-thumbnail-header span.entry-date p {
	font-family:'Droid Sans', sans-serif;
	font-size:14px;
}

.bp-thumbnail-header p {
	font-family:'Droid Serif', serif;
	font-size:20px;
	line-height:1.6;
}

a.readMore {
	border:none;
	font-size:14px;
	width:28%;
	margin-top:5%;
	color:#505050;
	background:#f3f3f3;
	display:block;
  text-transform:uppercase;
	font-family:'Droid Sans', sans-serif;
	padding:6px 15px;
	letter-spacing:1.9px;
	span {
		margin:0;
		padding:0;
	}
	&:hover {
		background:#b2b2b2;
		color:#FFF;
		transition:0.2s;
	}
}