article {
  position:relative;
  overflow:hidden;
  float:left;
  width:50%;
  height:500px;
  background-color:#222;
  border:1px solid #FFF;
}

.photo-highlighted {
  opacity:.6;
  width:800px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50%;
  max-width:100%;
  height:100%;
}

.type-post:hover .photo-highlighted {
  opacity:.4;
  transition:opacity .6s;
}

.post-link {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.thumbnail-header {
  display:inline-block;
  position:absolute;
  top:30%;
  left:5%;
  text-transform:uppercase;
  font-size:35px;
  line-height:35px;
  margin:0 8px 0 0;
}

h2.entry-title {
  margin:0;
}

h2.entry-title a {
  font-family:'Droid Sans', sans-serif;
  color:#FFF;
  font-size:35px;
  line-height:35px;
  font-weight:400;
  letter-spacing:1.2px;
}

.meta-data {
	color:#FFF;
  font-size:14px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:1.2px;
  transform:skew(-20deg);
  webkit-transform:skew(-20deg);
  margin-bottom:10px;
}

span.entry-cat {
	margin-right:35px;
  color:#505050;
  background:#f3f3f3;
  padding:6px;
}

span.entry-cat:hover {
  padding-left:14px;
  padding-right:14px;
  transition:padding .3s;
  -webkit-transition:padding .3s;
}

span.entry-cat a {
	position:relative;
  display:inline-block;
  line-height:30px;
  color:#505050;
  transform:skew(20deg);
  webkit-transform:skew(20deg);
  margin-left:8px;
}

span.entry-cat a, span.entry-date p {
  font-family:'Droid Sans', sans-serif;
  display:inline-block;
  transform:skew(20deg);
  webkit-transform:skew(20deg);
}

span.entry-date p {
  color:#FFF;
  margin-bottom:0;
}

.fa-clock-o {
	font-size:16px;
	margin-right:8px;
  transform:skew(20deg);
}

// Previous & Next Post Links

.left-right {
  clear:both;
}

.left-right a {
  display:block;
  width:100%;
  height:100%;
  padding:4% 6%;
}

.alignleft, .alignright {
  width:50%;
  height:80px;
  margin:0;
  background-color:#f8f8f8;
  border:1px solid #FFF;
}

.alignleft a, .alignright a {
  color:#505050;
  text-transform:uppercase;
  letter-spacing:1.2px;
}

.alignright a:hover, .alignleft a:hover {
  color:#FFF;
}

.alignleft:hover, .alignright:hover {
  background:#BEBAC8;
  transition:background 0.6s;
}

.alignleft {
  text-align:right;
}

.alignright {
  text-align:left;
}

// **----FOOTER----** //

ul.social {
  font-size:25px;
  text-align:center;
  padding-left:0;

  li {
    display:inline-block;

    a {
      position:relative;
      display:block;
      width:40px;
      height:40px;
      color:#505050;
      &:hover {
        color:$tertiary;
        transition:color .6s;
      }
    }
  }
}