// Single Post Container
.hero-content, .page-content, .comments {
  width:900px;
  margin:0 auto;
} 

// Single Post Hero Image

.hero {
  position:relative;
  width:100%;
  height:100px;
  height: -webkit-calc(100vh*0.55);
  height: calc(100vh*0.55);
  margin-bottom:35px;
  background-color:#222;
}

.hero-image {
  opacity:.8;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  // max-width:1300px;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 50%;
}

// Single Post Hero Header Data

h2.hero-title {
  font-size:55px;
  margin:0;

  a {
  font-family:'Droid Sans', sans-serif;
  color:#FFF;
  line-height:45px;
  font-weight:400;
  letter-spacing:1.2px;
  }
}

.hero-content {
  position:relative;
  text-transform:uppercase;
  top:16%;
}

.hero-data {
  color:#FFF;
  font-size:14px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:1.2px;
  transform:skew(-20deg);
  webkit-transform:skew(-20deg);
}

.hero-meta {
  margin-left:10px;
  margin-bottom:15px;
  transform:skew(-20deg);

  span.entry-date {
    color:#FFF;
  }
}

//Single Post Previous / Next Navigation

.post-navigation {
  margin-top:5%;
}

.post-navigation .nav-previous, .post-navigation .nav-next {
  width:50%;
  float:left;
  height:120px;
}