// 404 Page
.four-oh-four {
	margin:2.5% auto;
	max-width:900px;
	h1 {
		margin:0 0 6px 0;
	}
	h2 {
		margin:0;
	}
	h3 {
		font-weight:400;
	}
}

// About

.page-content-about {
	padding:0 25px;
	text-align:center;
}

.page-content-about img.photo {
	max-width:100%;
}

.page-content-about .info {
	max-width:800px;
	margin:1% auto;
}

.page-content-about .info p {
	font-size:18px;
	line-height:1.6;
	&:first-child {
	  margin-top:0;
	}
}

// .page-content-about .info #sb_instagram {
// 	margin-top:10%;
// }

// Category Archives 

h1.cat, h1.tag {
	margin:0 0 10px 25px;
	color:#686868;
	font-size:20px;
}

// Contact 

.form {
	padding-top:50px;
	height:550px;
}

.inner-form {
	width:80%;
	margin:0 auto;
	border:1px solid black;
}

input, textarea {
	margin:0 auto;
	background-color:#f2f2f2;
	width:85%;
	color:#686868;
	font-size:16px;
	font-weight:400;
	margin-top:20px;
	margin-bottom:15px;
	padding:10px 0;
	display:block;
	text-align:left;
	border:0px;
	padding-left:10px;
}

.form p {
	text-align:center;
	font-size:20px;
	margin:0 auto;
	text-align:center;
}

.form button {
	display:block;
	text-transform:uppercase;
	margin:-3px auto;
	font-size:14px;
	font-weight:400;
	padding:10px 30px;
	background-color:white;
	color:black;
	border:1px solid black;
	position:relative;
	top:15px;
}

.form button:hover {
	background-color:$tertiary;
	border:none;
	color:white;
	transition:background-color .3s;
}