// Single Post Container
.hero-content, .comments, ul.tags {
  width:900px;
  margin:0 auto;
}

// Single Post Hero Image

.hero {
  margin-bottom:0;
  position:relative;
  width:100%;

  @media (min-width:700px) {
    margin-bottom:35px;
  }
}

.hero-image {
  opacity:.85;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #090038; /* fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#221363), to(#221363)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #090038, #221363);  /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #090038, #221363); /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #090038, #221363);  /* IE 10 */
  background: -o-linear-gradient(top, #090038, #221363);  /* Opera 11.10+ */
}

// Single Post Hero Header Data

h2.hero-title {
  font-size:55px;
  margin:0;

  a {
    color: #090038;
    line-height:45px;
    font-weight:400;
    letter-spacing:1.2px;
  }
}

.hero-content {
  margin:0 auto;
  max-width: 900px;
  position:relative;
  text-transform:uppercase;
  top:10%;
  width:90%;
}

.hero-data {
  font-size:14px;
  font-weight:700;
  letter-spacing:1.2px;
  text-transform:uppercase;
  transform:skew(-20deg);
  webkit-transform:skew(-20deg);
}

.hero-meta {
  margin-bottom:15px;
  transform:skew(-20deg);
}

// Single Post - Actual Content

.page-content h3 {
  font-size:24px;
}

.page-content {
  font-size: 18px;
  margin: 0 auto;
  width: 900px;
}

// Images within Single Post

.page-content img.alignnone.size-one-hundred,
.page-content img.alignnone.size-fifty,
.page-content img.alignnone.size-thirty-three {
  float:left;
  height:auto;
  max-width:100%;
}

// Single Post Tags List

ul.tags {
  margin-top:2%;
  padding:0;

  li {
    display:inline-block;

    a {
      background-color:#f3f3f3;
      color:#505050;
      padding:8px 12px;
      text-transform:uppercase;
    }
  }
}

//Single Post Previous / Next Navigation

.post-navigation {
  margin-top:3%;
}

.post-navigation a {
  display:block;
  height:100%;
  padding:4% 6%;
  width:100%;
}

.post-navigation a:hover {
  background:#BEBAC8;
  color:#FFF;
  transition:background 0.3s;
}

.nav-previous, .nav-next {
  background-color:#f8f8f8;
  border:1px solid #FFF;
  float:left;
  height:80px;
  margin:0;
  width:50%;
}

.nav-previous a, .nav-next a {
  color:#505050;
  text-transform:uppercase;
  letter-spacing:1.2px;
}

.nav-previous {
  text-align:right;
}

.nav-next {
  text-align:left;
}

//Single Post Comments

input#submit.submit {
  background:#505050;
  color:#FFF;
  margin-top:3%;
  padding:10px 15px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-family:'Droid Sans', sans-serif;
}

input#submit.submit:hover {
  background:$tertiary;
  transition: background .2s;
}

textarea#comment {
  margin-left:0;
}

article.comment-body {
  float:none;
}
